<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo_carto_negative.a3ac25c4.svg" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Products</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Solutions</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Resources</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Pricing</a>


    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Request a demo</a>
  </div>

</div>