<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h1>CartoDB Table viewer</h1>
		</div>
		<div class="col-xs-12 col-md-3">
			<h3>Username</h3>
		</div>
		<div class="col-xs-12 col-md-3">
			<h3>Table name</h3>
		</div>
		<div class="col-xs-12 col-md-2">
			<h3>Load data</h3>
		</div>
	</div>
</div>