<%= render "banner" %>
<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h1>CartoDB Table viewer</h1>
		</div>
		<%#= simple_form_for @load_data, :url => home_load_data_path, :method => :post do |f| %>
		<%#= simple_form_for (url: home_load_data _path, method: :post) do |f| %>
		<div class="col-xs-12 col-md-3">
			<%#= f.input :username %>
		</div>
		<div class="col-xs-12 col-md-3">
			<%#= f.input :table_name, label: "Table name" %>
		</div>
		<div class="col-xs-12 col-md-2">
			<%#= f.button :submit %>
		</div>
		<%# end %>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div> -->