<div class="row">
	<div class="col-xs-12 col-md-4">
		<h1>CartoDB Table viewer</h1>
	</div>
	<%= simple_form_for :user, url: search_path, method: 'post' do |f| %>
	<div class="col-xs-12 col-md-3">
		<%= f.input :username %>
	</div>
	<div class="col-xs-12 col-md-3">
		<%= f.input :table %>
	</div>
	<div class="col-xs-12 col-md-2">
		<%= f.button :submit, "Load data", class: "btn btn-primary btn-lg btn-search" %>
	</div>
	<% end %>
</div>