<div class="container margin-top">
	<%= render 'load' %>
	<%= react_component('CountryList', {response: response} )%>

	<div class="row">
		<div class="col-xs-12 col-md-2 col-md-offset-4">
			<%= link_to "Previous", search_path(to_do: "previous", page: page, username: username, table: table), method: 'post', class: "btn btn-primary" %>
			<%= link_to "Next", search_path(to_do: "next", page: page, username: username, table: table), method: 'post', class: "btn btn-primary" %>
		</div>
	</div>
</div>